@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&family=Varela+Round&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}